@model APAccountIndexViewModel
@{
    ViewData["Title"] = "İstifadəçinin tənzimləməsi";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">İstifadəçinin tənzimləmələrində dəyişiklik</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="p-5">
                    <form class="user" asp-controller="Account" asp-action="Edit" asp-area="Admin" method="post">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Növü</label>
                            <div class="col-sm-9">
                                
                                <select class="form-control" placeholder="Növ" asp-for="Edit.isAdmin">                                    
                                    <option value="true" selected="@(Model.SelectedUser.isAdmin == true ? "selected" : null)">Administrator</option>
                                    <option value="false" selected="@(Model.SelectedUser.isAdmin == false ? "selected" : null)">Moderator</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Edit.isAdmin"> </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ad</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Ad" asp-for="Edit.Name" value="@Model.SelectedUser.Nickname">
                                <span class="text-danger" asp-validation-for="Edit.Name"> </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">E-Poçt</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="E-poçt" disabled value="@Model.SelectedUser.Email">
                                <input type="hidden" asp-for="Edit.Email" value="@Model.SelectedUser.Email"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Şifrə</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Şifrə" asp-for="Edit.Password">
                                <span class="text-danger" asp-validation-for="Edit.Password"> </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sync-alt mr-3"></i>Yenilə</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
