@model AddIndexViewModel
@{
    ViewData["Title"] = "Create";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<section id="add-prop" class="mt-20">
    <div id="modal">
        <span><i class="far fa-times-circle" id="close"></i></span>
        <div id="modal-content">

        </div>
        <button type="button" id="check"><i class="fas fa-check"></i>Təsdiqlə</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#tabs_1">Elan yerləşdir</a></li>

                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-panel active" id="tabs_1">
                                <div class="row">
                                    <form class="grid" method="post" enctype="multipart/form-data" asp-action="create" asp-controller="add">

                                        <div class="form-group @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="addSort">Elanın növü</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="addSort" asp-for="AddCreatePost.AddTypeId" name="AddCreatePost.AddTypeId">
                                                        <option value="0" selected>Seçin</option>

                                                        @foreach (AddType item in Model.AddCreateIndex.AddTypes)
                                                        {
                                                            <option value="@item.AddTypeId">@item.Name</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.AddTypeId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="propSort">Əmlakın növü</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="propSort" asp-for="AddCreatePost.PropertySortId" name="AddCreatePost.PropertySortId">
                                                        <option value="0" selected>Seçin</option>
                                                        @foreach (PropertySort item in Model.AddCreateIndex.PropertySorts)
                                                        {
                                                            <option data-filter="@item.DataFilter" value="@item.PropertySortId">@item.PropertySortName</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropertySortId"> </span>
                                            </div>
                                        </div>



                                        <div class="form-group @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="city">Şəhər</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="city" asp-for="AddCreatePost.CityId" name="AddCreatePost.CityId">
                                                        <option value="0" selected>Seçin</option>
                                                        @foreach (City item in Model.AddCreateIndex.Cities)
                                                        {
                                                            <option value="@item.CityId">@item.CityName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.CityId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group d-none showByJs @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())" id="district">
                                            <div class="left-side">
                                                <label for="district">Rayon</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select districtSelect">
                                                    <select asp-for="AddCreatePost.DistrictId" name="AddCreatePost.DistrictId" id="districtList">
                                                        <option value="0" selected> Seçin</option>
                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.DistrictId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="address">Ünvan</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="address" placeholder="Ünvanı daxil edin" asp-for="AddCreatePost.PropertyFullAddress" name="AddCreatePost.PropertyFullAddress">
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropertyFullAddress"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">

                                            </div> ????????????????????
                                            <div class="right-side">
                                                <button type="button" id="showMap">Xəritədə göstər</button>

                                                <input type="text" id="GoogleMapAddress">
                                            </div>
                                        </div>



                                        <div class="form-group d-none showByJs @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())" id="project">
                                            <div class="left-side">
                                                <label for="propProject">Proyekt</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select projectSelect">
                                                    <select asp-for="AddCreatePost.PropertySortId" name="AddCreatePost.PropertySortId" id="projectList">
                                                        <option value="0" selected> Seçin</option>
                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropertySortId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building yard-house office">
                                            <div class="left-side">
                                                <label for="floorSum">Mərtəbə sayı</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="floorSum" asp-for="AddCreatePost.FloorSum" name="AddCreatePost.FloorSum">
                                                        <option value="0" selected>Seçin</option>

                                                        @foreach (Floor item in Model.AddCreateIndex.Floors)
                                                        {
                                                            <option value="@item.FloorID">@item.FloorNumber</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FloorSum"> </span>
                                            </div>
                                        </div>


                                        <div class="form-group new-building old-building office">
                                            <div class="left-side">
                                                <label for="floorNum">Yerləşdiyi mərtəbə</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="floorNum" asp-for="AddCreatePost.FloorId" name="AddCreatePost.FloorId">
                                                        <option value="0" selected>Seçin</option>

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FloorId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building yard-house office" id="flatSum">
                                            <div class="left-side">
                                                <label for="flat">Otaq sayı</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="flat" asp-for="AddCreatePost.FlatId" name="AddCreatePost.FlatId">
                                                        <option value="Seçin" selected>Seçin</option>

                                                        @foreach (Flat item in Model.AddCreateIndex.Flats)
                                                        {
                                                            <option value="@item.FlatID">@item.FlatNumber otaq</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FlatId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())" id="propDoc">
                                            <div class="left-side">
                                                <label for="propDoc">Əmlakın sənədi</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="propDoc" asp-for="AddCreatePost.PropDocId" name="AddCreatePost.PropDocId">
                                                        <option value="Seçin" selected>Seçin</option>

                                                        @foreach (PropDoc item in Model.AddCreateIndex.PropDocs)
                                                        {
                                                            <option value="@item.PropDocID">@item.PropDocName</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropDocId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building yard-house office garage" id="buildingVolume">
                                            <div class="left-side">
                                                <label for="buildingVolume">Tikili sahə (kv/m)</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="buildingVolume" placeholder="Sahəni daxil edin" asp-for="AddCreatePost.BuildingVolume" name="AddCreatePost.BuildingVolume">
                                                <span class="text-danger" asp-validation-for="AddCreatePost.BuildingVolume"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group yard-house land" id="landVolume">
                                            <div class="left-side">
                                                <label for="landVolume">Torpaq sahəsi (kv/m)</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="landVolume" placeholder="Sahəni daxil edin" asp-for="AddCreatePost.LandVolume" name="AddCreatePost.LandVolume">
                                                <span class="text-danger" asp-validation-for="AddCreatePost.LandVolume"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="about">Əmlak haqqında</label>
                                            </div>
                                            <div class="right-side">
                                                <textarea id="about" placeholder="Əmlak haqqında" rows="4" asp-for="AddCreatePost.FullAbout" name="AddCreatePost.FullAbout"></textarea>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FullAbout"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group old-building new-building yard-house office">
                                            <div class="left-side">
                                                <label for="photo">Xüsusiyyətlər</label>
                                            </div>
                                            <div class="right-side">
                                                @foreach (Feature item in Model.AddCreateIndex.Features)
                                                {
                                                    <div class="feature">
                                                        <label for="@item.FeatureID">@item.Name</label>
                                                        <input type="checkbox" id="@item.FeatureID" @*asp-for="AddCreatePost.Features" name="AddCreatePost.Features"*@>
                                                    </div>
                                                }
                                                <span class="text-danger" @*asp-validation-for="AddCreatePost.Features"*@> </span>
                                            </div>

                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="price">Qiymət (AZN)</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="price" placeholder="Qiyməti daxil edin" asp-for="AddCreatePost.AddPrice" name="AddCreatePost.AddPrice">
                                                <span class="text-danger" asp-validation-for="AddCreatePost.AddPrice"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="input-image"></div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">

                                            </div>
                                            <div class="right-side">
                                                <button type="submit"><i class="fas fa-plus"></i>Əlavə et</button>
                                            </div>
                                        </div>



                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section PhotoUploadCss{
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="~/css/image-upload/image-uploader.min.css">
}
@section PhotoUploadJs{
    <script type="text/javascript" src="~/script/image-upload/image-uploader.js"></script>
}
@section GoogleMap{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8EdJxYPClDOkk4tzALsjm-OkjKA59fjQ&language=az&region=AZ&v=3.exp&sensor=false"></script>
}

@section Scripts{

    <script>
        $(document).ready(function () {

   

            $(document).on("change", ".image-uploader > input", function (e) {

                console.log($(this).files.length);
            });

            

            $('.input-image').imageUploader({
                label: 'Əmlakın şəkillərini buradan yükləyin',
                imagesInputName: 'photos',
            });
             $(".inputs").click(function () {
                console.log("test");
            });

            //Begin GoogleMap from selected City
            $("#city").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    $.getJSON('./getgeoinfo/' + id, function (response) {
                        myLatlng = new google.maps.LatLng(response.latitude, response.longitude);
                    });
                }
                else {
                    myLatlng = new google.maps.LatLng(40.409591351226027, 49.886315730571162); //Cordinate of Baku city
                }
            });

            //Show GoogleMap modal
            $("#showMap").click(function () {
                $("#modal").css("display", "block");
            });
            $("#modal #close").click(function () {
                $("#modal").css("display", "none");
            });

            var map;
            var marker;
            var myLatlng = new google.maps.LatLng(40.409591351226027, 49.886315730571162); //Cordinate of Baku city
            var geocoder = new google.maps.Geocoder();
            var infowindow = new google.maps.InfoWindow();
            function initialize() {
                var mapOptions = {
                    zoom: 13,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("modal-content"), mapOptions);

                marker = new google.maps.Marker({
                    map: map,
                    position: myLatlng,
                    draggable: true
                });

                google.maps.event.addListener(marker, 'dragend', function () {

                    geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                infowindow.setContent(results[0].formatted_address);
                                infowindow.open(map, marker);
                            }
                        }
                    });
                });

                $("#modal #check").click(function () {
                    geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                $('#GoogleMapAddress').val(results[0].formatted_address);
                                console.log(marker.getPosition().lat());
                                console.log(marker.getPosition().lng());
                                $("#modal").css("display", "none");
                            }
                        }
                    });
                });

            }
            var activateButton = document.getElementById('showMap');
            google.maps.event.addDomListener(activateButton, 'click', initialize);

        });


    </script>

}

