@model AddViewModel
@{
    ViewData["Title"] = "Create";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<section id="add-prop" class="mt-20">
    <div id="modal">
        <span><i class="far fa-times-circle" id="close"></i></span>
        <div id="modal-content">

        </div>
        <button type="button" id="check"><i class="fas fa-check"></i>Təsdiqlə</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#tabs_1">Elan yerləşdir</a></li>

                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-panel active" id="tabs_1">
                                <div class="row">
                                    <form asp-action="Create" asp-controller="Add" method="post" enctype="multipart/form-data" id="CreateAdd">

                                        <div class="form-group @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="addSort">Elanın növü</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="addSort" asp-for="AddCreatePost.AddTypeId" name="AddCreatePost.AddTypeId" data-validation="required" data-validation-error-msg-required="Elanın növünü seçin!!!">
                                                        <option value="" selected>Seçin</option>

                                                        @foreach (AddType item in Model.AddCreateIndex.AddTypes)
                                                        {
                                                            <option value="@item.AddTypeId">@item.Name</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.AddTypeId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="propSort">Əmlakın növü</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="propSort" asp-for="AddCreatePost.PropertySortId" name="AddCreatePost.PropertySortId" data-validation="required" data-validation-error-msg-required="Əmlakın növünü seçin!!!">
                                                        <option value="" id="default">Seçin</option>
                                                        @foreach (PropertySort item in Model.AddCreateIndex.PropertySorts)
                                                        {
                                                            <option data-filter="@item.DataFilter" value="@item.PropertySortId">@item.PropertySortName</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropertySortId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="city">Şəhər</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="city" asp-for="AddCreatePost.CityId" name="AddCreatePost.CityId" data-validation="required" data-validation-error-msg-required="Şəhəri seçin!!!">
                                                        <option value="" selected>Seçin</option>
                                                        @foreach (City item in Model.AddCreateIndex.Cities)
                                                        {
                                                            <option value="@item.CityId">@item.CityName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.CityId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group d-none showByJs @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())" id="district">
                                            <div class="left-side">
                                                <label for="district">Rayon</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select districtSelect">
                                                    <select asp-for="AddCreatePost.DistrictId" name="AddCreatePost.DistrictId" id="districtList" data-validation="required" data-validation-error-msg-required="Rayonu seçin!!!">
                                                        <option value="" selected> Seçin</option>
                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.DistrictId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="address">Ünvan</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="address" placeholder="Ünvanı daxil edin" asp-for="AddCreatePost.PropertyFullAddress" name="AddCreatePost.PropertyFullAddress" data-validation="required" data-validation-error-msg-required="Ünvanı qeyd edin!!!">
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropertyFullAddress"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">

                                            </div>
                                            <div class="right-side">
                                                <button type="button" id="showMap"><i class="fas fa-map-marker-alt"></i>Xəritədə göstər</button>

                                                <input type="hidden" id="latitude" asp-for="@Model.AddCreatePost.Latitude">
                                                <input type="hidden" id="longitude" asp-for="@Model.AddCreatePost.Longitude">
                                            </div>
                                        </div>

                                        <div class="form-group d-none showByJs @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())" id="project">
                                            <div class="left-side">
                                                <label for="propProject">Proyekt</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select projectSelect">
                                                    <select asp-for="AddCreatePost.ProjectId" name="AddCreatePost.ProjectId" id="projectList" data-validation="required" data-validation-error-msg-required="Binanın proyektini seçin!!!">
                                                        <option value="" selected>Seçin</option>
                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropertySortId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building yard-house office">
                                            <div class="left-side">
                                                <label for="floorSum">Mərtəbə sayı</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="floorSum" asp-for="AddCreatePost.FloorSum" name="AddCreatePost.FloorSum" data-validation="required" data-validation-error-msg-required="Binanın neçə mərtəbəli olduğunu seçin!!!">
                                                        <option value="" selected>Seçin</option>

                                                        @foreach (Floor item in Model.AddCreateIndex.Floors)
                                                        {
                                                            <option value="@item.FloorID">@item.FloorNumber</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FloorSum"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building office">
                                            <div class="left-side">
                                                <label for="floorNum">Yerləşdiyi mərtəbə</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="floorNum" asp-for="AddCreatePost.FloorId" name="AddCreatePost.FloorId" data-validation="required" data-validation-error-msg-required="Mənzilin yerləşdiyi mərtəbəni seçin!!!">
                                                        <option value="" selected>Seçin</option>

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FloorId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building yard-house office" id="flatSum">
                                            <div class="left-side">
                                                <label for="flat">Otaq sayı</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="flat" asp-for="AddCreatePost.FlatId" name="AddCreatePost.FlatId" data-validation="required" data-validation-error-msg-required="Otaq sayını seçin!!!">
                                                        <option value="" selected>Seçin</option>

                                                        @foreach (Flat item in Model.AddCreateIndex.Flats)
                                                        {
                                                            <option value="@item.FlatID">@item.FlatNumber otaq</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FlatId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())" id="propDoc">
                                            <div class="left-side">
                                                <label for="propDoc">Əmlakın sənədi</label>
                                            </div>
                                            <div class="right-side">
                                                <div class="select">
                                                    <select id="propDoc" asp-for="AddCreatePost.PropDocId" name="AddCreatePost.PropDocId" data-validation="required" data-validation-error-msg-required="Əmlakın sənədini seçin!!!">
                                                        <option value="" selected>Seçin</option>

                                                        @foreach (PropDoc item in Model.AddCreateIndex.PropDocs)
                                                        {
                                                            <option value="@item.PropDocID">@item.PropDocName</option>
                                                        }

                                                    </select>
                                                </div>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.PropDocId"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group new-building old-building yard-house office garage" id="buildingVolume">
                                            <div class="left-side">
                                                <label for="buildingVolume">Tikili sahə (kv/m)</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="buildingVolume" placeholder="Sahəni daxil edin" asp-for="AddCreatePost.BuildingVolume" name="AddCreatePost.BuildingVolume"
                                                       data-validation="required, number" data-validation-error-msg-required="Tikili sahəni qeyd edin!!!"
                                                       data-validation-error-msg-number="Düzgün rəqəm daxil edin!" />
                                                <span class="text-danger" asp-validation-for="AddCreatePost.BuildingVolume"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group yard-house land" id="landVolume">
                                            <div class="left-side">
                                                <label for="landVolume">Torpaq sahəsi (sot)</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="landVolume" placeholder="Sahəni daxil edin" asp-for="AddCreatePost.LandVolume" name="AddCreatePost.LandVolume"
                                                       data-validation="required, number" data-validation-error-msg-required="Torpaq sahəsini qeyd edin!!!"
                                                       data-validation-error-msg-number="Düzgün rəqəm daxil edin" />
                                                <span class="text-danger" asp-validation-for="AddCreatePost.LandVolume"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="about">Əmlak haqqında</label>
                                            </div>
                                            <div class="right-side">
                                                <span id="max-length-element">500</span> xarakter qalmaqdadır
                                                <textarea id="about" placeholder="Əmlak haqqında" rows="4" asp-for="AddCreatePost.FullAbout" name="AddCreatePost.FullAbout"
                                                          data-validation="required, length" data-validation-error-msg-required="Əmlak haqqında ətraflı yazın (min 50 xarakter)!!!"
                                                          data-validation-length="50-500" data-validation-error-msg-length="Minimum 50 xarakter olmalıdır!"></textarea>
                                                <span class="text-danger" asp-validation-for="AddCreatePost.FullAbout"> </span>
                                            </div>
                                        </div>

                                        <div class="form-group old-building new-building yard-house office feature">
                                            <div class="left-side">
                                                <label for="photo">Xüsusiyyətlər</label>
                                            </div>
                                            <div class="right-side">
                                                @for (var i = 0; i < Model.AddCreateIndex.Features.Count(); i++)
                                                {
                                                    <div class="feature">
                                                        <h1></h1>
                                                        <label for="@Model.AddCreateIndex.Features[i].Selected">@Model.AddCreateIndex.Features[i].Name</label>
                                                        @{
                                                            String id = $"AddCreatePost_Features_{i}__FeatureID";
                                                            String name = $"AddCreatePost.Features[{i}].FeatureID";
                                                        }
                                                        <input type="hidden" name="@name" id="@id" value="@Model.AddCreateIndex.Features[i].FeatureID" />
                                                        <input type="checkbox" asp-for="@Model.AddCreatePost.Features[i].Selected" />
                                                    </div>
                                                }
                                                <span class="text-danger"> </span>
                                            </div>

                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">

                                            </div>
                                            <div class="right-side">
                                                <div id="addPhoto">
                                                    <label for="upload-photo"><i class="fas fa-camera"></i>ƏMLAKIN FOTOLARI</label>
                                                    <input asp-for="@Model.AddCreatePost.Photos" id="upload-photo" accept="image/*" multiple
                                                           data-validation="required, mime size"
                                                           data-validation-error-msg-required="Əmlakın fotolarını daxil edin!!!"
                                                           data-validation-error-msg-size="Fotonun həcmi 1Mb-dan artıq ola bilməz!!!"
                                                           data-validation-allowing="jpg, png, gif"
                                                           data-validation-max-size="1M" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group  @string.Join(" ",Model.AddCreateIndex.PropertySorts.Select(p=>p.DataFilter).ToArray())">
                                            <div class="left-side">
                                                <label for="price">Qiymət (AZN)</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="price" placeholder="Qiyməti daxil edin" asp-for="AddCreatePost.AddPrice" name="AddCreatePost.AddPrice"
                                                       data-validation="required, number" data-validation-error-msg-required="Əmlakın qiymətini daxil edin!!!"
                                                       data-validation-allowing="range[1;10000000],float" data-validation-error-msg-number="Düzgün rəqəm daxil edin (1-10000000 arasında ola bilər)" />
                                                <span class="text-danger" asp-validation-for="AddCreatePost.AddPrice"> </span>
                                            </div>
                                        </div>

                                        <div class="right-side">
                                            <button type="submit"><i class="fas fa-plus"></i>Əlavə et</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section NotificationCss{
    <link rel="stylesheet" href="~/css/toaster/toastr.min.css">
}
@section GoogleMap{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8EdJxYPClDOkk4tzALsjm-OkjKA59fjQ&language=az&region=AZ&v=3.exp"></script>
    <script>
        $(document).ready(function () {

            //Begin GoogleMap from selected City
            $("#city").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    $.getJSON('./getgeoinfo/' + id, function (response) {
                        myLatlng = new google.maps.LatLng(response.latitude, response.longitude);
                    });
                }
                else {
                    myLatlng = new google.maps.LatLng(40.409591351226027, 49.886315730571162); //Cordinate of Baku city
                }
            });

            //Show GoogleMap modal
            $("#showMap").click(function () {
                $("#modal").css("display", "block");
            });
            $("#modal #close").click(function () {
                $("#modal").css("display", "none");
            });

            var map;
            var marker;
            var myLatlng = new google.maps.LatLng(40.409591351226027, 49.886315730571162); //Cordinate of Baku city
            var geocoder = new google.maps.Geocoder();
            var infowindow = new google.maps.InfoWindow();
            function initialize() {
                var mapOptions = {
                    zoom: 13,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("modal-content"), mapOptions);

                marker = new google.maps.Marker({
                    map: map,
                    position: myLatlng,
                    draggable: true
                });

                google.maps.event.addListener(marker, 'dragend', function () {

                    geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                infowindow.setContent(results[0].formatted_address);
                                infowindow.open(map, marker);
                            }
                        }
                    });
                });

                $("#modal #check").click(function () {
                    geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                $('#address').val(results[0].formatted_address);
                                $("#modal").css("display", "none");
                                $("#latitude").val(marker.getPosition().lat());
                                $("#longitude").val(marker.getPosition().lng());
                            }
                        }
                    });
                });

            }
            var activateButton = document.getElementById('showMap');
            google.maps.event.addDomListener(activateButton, 'click', initialize);

        });


    </script>
}
@section FormValidator{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
}

@section Scripts{

    <script>
        $(document).ready(function () {
            //FORM VALIDATION
            $.validate({
                modules: 'file, security',
                addSuggestions: true,
                decimalSeparator: ','
            });
            $('#about').restrictLength($('#max-length-element'));

        });
    </script>
}


