@model AccountIndexViewModel

@{
    ViewData["Title"] = "Şəxsi kabinet";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<!-- cabinet section -->
<section id="cabinet" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Mənim elanlarım</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><button data-filter="*"><i class="fas fa-layer-group"></i>Ümumi</button><span class="sum" id="allAdds">@ViewBag.AllAddsCount</span></li>
                                <li><button data-filter=".active"><i class="fas fa-check"></i>Aktiv</button><span class="sum" id="activeAdds">@ViewBag.ActiveAddsCount</span></li>
                                <li><button data-filter=".deactive"><i class="far fa-clock"></i>Deaktiv</button><span class="sum" id="deactivatedAdds">@ViewBag.DeactiveAddsCount</span></li>
                                <li><button data-filter=".waiting:not(.deactive)"><i class="fas fa-stopwatch"></i>Gözləmədə olan</button><span class="sum" id="waitingAdds">@ViewBag.WaitingAddsCount</span></li>

                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active">
                                <div class="row">
                                    <div class="selectPanel">
                                        <ul>
                                            <li class="active"><button data-filter="*:not(.deactive):not(.waiting)">Ümumi</button></li>
                                            <li><button data-filter=".rent:not(.deactive):not(.waiting)">Kirayə</button><span class="sum" id="rentAdds">@ViewBag.RentAddsCount</span></li>
                                            <li><button data-filter=".sale:not(.deactive):not(.waiting)">Satış</button><span class="sum" id="saleAdds">@ViewBag.SaleAddsCount</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row grid">


                                    @if (Model.Cabinet.AllAdds.Count != 0)
                                    {
                                        foreach (Addvertisiment item in Model.Cabinet.AllAdds)
                                        {
                                            <div class="col-md-3 col-sm-4 col-xs-6 col-12 element-item @(@item.AddTypeID < 3 ? "rent" : "sale") @(@item.AddStatus == AddStatus.Active ? "active" : "") @(@item.AddStatus == AddStatus.Deactive ? "deactive" : "") @(@item.AddStatus == AddStatus.Waiting ? "waiting" : "") " data-category='@(@item.AddTypeID < 3 ? "rent" : "sale")'>
                                                <div class="contain-item  @(@item.AddStatus == AddStatus.Deactive ? "nonactive" : "")">
                                                    <div class="item-image">
                                                        @if (@item.AddStatus == AddStatus.Active)
                                                        {
                                                            <a title="Ətraflı" asp-action="detail" asp-controller="add" asp-route-id="@item.AddvertisimentID"><img src="~/img/property/@item.Property.MainPhoto" alt="property"></a>
                                                        }
                                                        else
                                                        {
                                                            <img src="~/img/property/@item.Property.MainPhoto" alt="property">
                                                        }
                                                    </div>
                                                    <div class="item-property">
                                                        <div class="date">
                                                            <i class="far fa-calendar-alt"></i><span class="added-date">@item.CreatedAt.ToString("dd.MM.yyyy")</span>
                                                        </div>
                                                        <div class="property-name">
                                                            @if (@item.Property.DistrictId != null)
                                                            {
                                                                <span>@item.Property.City.CityName şəh/@item.Property.District.DistrictName ray.</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@item.Property.City.CityName şəhəri</span>
                                                            }
                                                        </div>
                                                        <div class="property-price">

                                                            @if (item.AddTypeID == 1) //Günlük kirayə
                                                            {
                                                                <span class="present-price">@item.PropPrice.ToString("0.0") ₼/gün</span>
                                                            }
                                                            else if (item.AddTypeID == 2) //Aylıq kirayə
                                                            {
                                                                <span class="present-price">@item.PropPrice.ToString("0.0") ₼/ay</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="present-price">@item.PropPrice.ToString("0.0") ₼</span>// Satılır
                                                            }

                                                        </div>
                                                        <div class="additional-properties">


                                                            @if (item.Property.FloorId > 0 && item.Property.FloorSum > 0)
                                                            {
                                                                <div class="add-prop-item">
                                                                    <i class="fas fa-home"></i>
                                                                    <span class="num">@item.Property.FloorId/@item.Property.FloorSum</span>
                                                                    <span>mrt</span>
                                                                </div>

                                                            }
                                                            else if (item.Property.FloorSum > 0 && item.Property.FloorId == null) //həyət evi
                                                            {
                                                                <div class="add-prop-item">
                                                                    <i class="fas fa-home"></i>
                                                                    <span class="num">@item.Property.FloorSum</span>
                                                                    <span>mrt</span>
                                                                </div>
                                                            }

                                                            @if (item.Property.FlatId > 0 && item.Property.PropertySortId < 3)
                                                            {
                                                                <div class="add-prop-item">
                                                                    <i class="far fa-square"></i>
                                                                    <span class="num">@item.Property.FloorId</span>
                                                                    <span>otaq</span>
                                                                </div>
                                                            }

                                                            @if (item.Property.PropertySort.PropertySortId > 3 && item.Property.PropertySort.PropertySortId < 6 || (item.Property.FloorSum > 0 && item.Property.FloorId == null)) //Ofis, Qaraj, Heyet evi
                                                            {
                                                                <div class="add-prop-item">
                                                                    <i class="far fa-square"></i>
                                                                    <span class="num">@item.Property.BuildingVolume.Value.ToString("0")</span>
                                                                    <span>kv/m</span>
                                                                </div>
                                                            }

                                                            @if (item.Property.PropertySort.PropertySortId > 5) //Torpaq
                                                            {
                                                                <div class="add-prop-item">
                                                                    <i class="far fa-square"></i>
                                                                    <span class="num">@item.Property.LandVolume.Value.ToString("0")</span>
                                                                    <span>sot</span>
                                                                </div>
                                                            }
                                                        </div>
                                                        @if (item.AddStatus != AddStatus.Deactive)
                                                        {
                                                            <div class="add-status" style="background-color: @(item.AddStatus == AddStatus.Waiting ? "yellow !important" : "")">
                                                                @if (item.AddStatus == AddStatus.Active)
                                                                {
                                                                    <h3 class="name">Aktiv</h3>
                                                                }
                                                                else
                                                                {
                                                                    <h3 class="name" style="color:darkgrey">Gözləmədə</h3>
                                                                }
                                                            </div>
                                                        }

                                                        <div class="add-sort">
                                                            @if (item.AddTypeID < 3) //Kirayələr
                                                            {
                                                                <h3 class="name">Kirayə</h3>
                                                            }
                                                            else //Satış
                                                            {
                                                                <h3 class="name">Satış</h3>
                                                            }
                                                        </div>
                                                        <div class="prop-sort">
                                                            <h3 class="name">@item.Property.PropertySort.PropertySortName</h3>
                                                        </div>
                                                        <div class="hover-overlay">
                                                            <ul>
                                                                @if (@item.AddStatus == AddStatus.Deactive)
                                                                {
                                                                    <li><a title="Sil" class="removeItem" asp-action="remove" asp-controller="add" asp-route-id="@item.AddvertisimentID"><i class="far fa-trash-alt"></i></a></li>
                                                                }
                                                                else if (@item.AddStatus == AddStatus.Active)
                                                                {
                                                                    <li><a title="Ətraflı" asp-action="detail" asp-controller="add" asp-route-id="@item.AddvertisimentID">Ətraflı</a></li>
                                                                    <li><a title="Deaktiv et" class="deactivateItem" asp-action="Deactivate" asp-controller="add" asp-route-id="@item.AddvertisimentID"><i class="fas fa-minus-circle"></i></a></li>
                                                                }
                                                                else
                                                                {

                                                                    <li><a title="Deaktiv et" class="deactivateItem" asp-action="Deactivate" asp-controller="add" asp-route-id="@item.AddvertisimentID"><i class="fas fa-minus-circle"></i></a></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                    else if (Model.Cabinet.AllAdds.Count <= 0)
                                    {
                                        <div class="col-md-12">
                                            <div class="add-addvertisiment">
                                                <a title="Yeni elan yarat" asp-action="create" asp-controller="add"><i class="fas fa-plus"></i>ELAN YERLƏŞDİR</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of cabinet section -->
@section NotificationJs{
    <script src="~/script/toaster/toastr.min.js"></script>
}
@section ConfirmCss{
    <link rel="stylesheet" href="~/css/notiflix/notiflix-2.1.3.min.css">
}
@section ConfirmJs{
    <script src="~/script/notiflix/notiflix-2.1.3.min.js"></script>
}
@section Filter{
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
}
@section Scripts{

    <script>
        $(document).ready(function () {
              @if(TempData["Success"] != null)
                {
                     @:toastr.success("@TempData["Success"]");
                };

            // init Isotope -- FILTERING showing data
            var $grid = $('.grid').isotope({
                // options
                itemSelector: '.element-item',
                layoutMode: 'fitRows',
            });
            // filter items on button click
            $('button').click(function () {
                var filterValue = $(this).attr('data-filter');
                $grid.isotope({ filter: filterValue });
            });

        });
    </script>
}

