@model AccountIndexViewModel
@{
    ViewData["Title"] = "Tənzimləmələr";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<!-- login-signup section -->
<section id="login-signup" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#tabs_1">Tənzimləmələr</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active" id="tabs_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-controller="Account" asp-action="Settings" method="post" enctype="multipart/form-data">

                                            <div class="form-group">
                                                <div class="left-side">
                                                    @if (ViewBag.User.UserTypeID > 1)
                                                    {
                                                        <label for="name">Ad</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="name">Şirkətin adı</label>
                                                    }
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="name" asp-for="Setting.Name" value="@ViewBag.User.Name"
                                                           data-validation="required, length"
                                                           data-validation-error-msg-required="Ad daxil edin!!!"
                                                           data-validation-length="3-50"
                                                           data-validation-error-msg-length="Minimum 3, Maksimum 50 hərf daxil etməlisiniz!!!" />
                                                    <span class="text-danger" asp-validation-for="Setting.Name"></span>
                                                </div>
                                            </div>
                                            @if (ViewBag.User.UserTypeID > 1)
                                            {
                                                <div class="form-group">
                                                    <div class="left-side">
                                                        <label for="surname">Soyad</label>
                                                    </div>
                                                    <div class="right-side">
                                                        <input type="text" id="surname" asp-for="Setting.Surname" value="@ViewBag.User.Surname"
                                                               data-validation="required, length"
                                                               data-validation-error-msg-required="Ad daxil edin!!!"
                                                               data-validation-length="3-50"
                                                               data-validation-error-msg-length="Minimum 3, Maksimum 50 hərf daxil etməlisiniz!!!" />
                                                        <span class="text-danger" asp-validation-for="Setting.Surname"></span>
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label>E-Poçt</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" placeholder="@ViewBag.User.Email" disabled />
                                                    <span class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="phone">Telefon</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="phone" placeholder="(___) ___ - ____" asp-for="Setting.PhoneNumber" value="@ViewBag.User.PhoneNumber"
                                                           data-validation="required, length"
                                                           data-validation-error-msg-required="Telefon nömrəsi daxil edin!"
                                                           data-validation-length="14-14"
                                                           data-validation-error-msg-length="Telefon nömrəsni düzgün daxil edin!!!" />
                                                    <span class="text-danger" asp-validation-for="Setting.PhoneNumber"></span>
                                                </div>
                                            </div>


                                            @if (ViewBag.User.Logo != null)
                                            {
                                                <div class="form-group d-none uploadPhoto">
                                                    <div class="left-side">
                                                        @if (ViewBag.User.UserTypeID > 1)
                                                        {
                                                            <label for="photo">Profil şəkli</label>
                                                        }
                                                        else
                                                        {
                                                            <label for="photo">Logo</label>
                                                        }

                                                    </div>
                                                    <div class="right-side">
                                                        <input type="file" asp-for="Setting.Photo" id="photo" class="custom-file-input" value="@ViewBag.User.Logo"
                                                               data-validation="required, mime size"
                                                               data-validation-allowing="jpg, png, gif"
                                                               data-validation-max-size="200kb"
                                                               data-validation-error-msg-required="Foto daxil edilməyib!"
                                                               data-validation-error-msg-mime="Ancaq foto formatı yükləyə bilərsiniz!"
                                                               data-validation-error-msg-size="Faylın həcmi 200kb-a qədər ola bilər!" />
                                                        <label class="custom-file-label"></label>
                                                        <span asp-validation-for="Setting.Photo" class="text-danger"></span>

                                                    </div>
                                                </div>

                                                <div class="form-group d-none photoView">
                                                    <div class="left-side">

                                                    </div>
                                                    <div class="right-side">
                                                        <div class="image">
                                                            <img id="uploadedPhoto" src="" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group photoViewUser">
                                                    <div class="left-side">
                                                        @if (ViewBag.User.UserTypeID > 1)
                                                        {
                                                            <label>Profil şəkli</label>
                                                        }
                                                        else
                                                        {
                                                            <label>Logo</label>
                                                        }
                                                    </div>
                                                    <div class="right-side">
                                                        <div class="image">
                                                            <img id="uploadedPhoto" src="~/img/users/@ViewBag.User.Logo" />
                                                            <i class="fas fa-times" id="removeLogo"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <div class="left-side">
                                                        @if (ViewBag.User.UserTypeID > 1)
                                                        {
                                                            <label for="photo">Profil şəkli</label>
                                                        }
                                                        else
                                                        {
                                                            <label for="photo">Logo</label>
                                                        }

                                                    </div>
                                                    <div class="right-side">
                                                        <input type="file" asp-for="Setting.Photo" id="photo" class="custom-file-input" value="@ViewBag.User.Logo"
                                                               data-validation="required, mime size"
                                                               data-validation-allowing="jpg, png, gif"
                                                               data-validation-max-size="200kb"
                                                               data-validation-error-msg-required="Foto daxil edilməyib!"
                                                               data-validation-error-msg-mime="Ancaq foto formatı yükləyə bilərsiniz!"
                                                               data-validation-error-msg-size="Faylın həcmi 200kb-a qədər ola bilər!" />
                                                        <label class="custom-file-label"></label>
                                                        <span asp-validation-for="Setting.Photo" class="text-danger"></span>

                                                    </div>
                                                </div>

                                                <div class="form-group d-none photoView">
                                                    <div class="left-side">

                                                    </div>
                                                    <div class="right-side">
                                                        <div class="image">
                                                            <img id="uploadedPhoto" src="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (ViewBag.User.UserTypeID == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="left-side">
                                                        <label for="adress">Ünvan</label>
                                                    </div>
                                                    <div class="right-side">
                                                        <input type="text" id="adress" asp-for="Setting.Adress" value="@ViewBag.User.Adress"
                                                               data-validation="required"
                                                               data-validation-error-msg-required="Ünvanı daxil edin!" />
                                                        <span class="text-danger" asp-validation-for="Setting.Adress"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="left-side">
                                                        <label for="about">Haqqında</label>
                                                    </div>
                                                    <div class="right-side">
                                                        <span id="max-length-element">500</span> xarakter qalmaqdadır
                                                        <textarea id="about" asp-for="Setting.AboutCompany" rows="5"
                                                                  data-validation="required, length"
                                                                  data-validation-length="50-500"
                                                                  data-validation-error-msg-required="Şirkətiniz haqqında qısa məlumat daxil edin!"
                                                                  data-validation-error-msg-length="Minimum 50 xarakter olmalıdır!">@ViewBag.User.AboutCompany</textarea>
                                                        <span class="text-danger" asp-validation-for="Setting.AboutCompany"></span>
                                                    </div>
                                                </div>
                                            }

                                            <div class="right-side">
                                                <button type="submit" id="submit">Qeydiyyatı tamamla</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of login-sgnup section -->
@section ConfirmCss{ 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}
@section ConfirmJs{ 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
}
@section FormValidator{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
}

@section PhoneMask{
    <script src="~/script/phone-mask/jquery.browser.min.js"></script>
}

@section Scripts{

    <script>
        $(document).ready(function () {
            //REMOVE UPLOADED LOGO
            $("#removeLogo").click(function () {
                //if (confirm('Yeni foto yükləmək istəyirsinizmi?')) {
                //    $('.photoViewUser').addClass('d-none');
                //    alert('Zəhmət olmazsa yeni fotonu yükləyin!');
                //} 
                $.confirm({
                    title: 'Foto yenilənmə',
                    content: 'Əminsinizmi',
                    buttons: {
                        Bəli: function () {
                            $.alert('Zəhmət olmazsa yeni fotonu yükləyin!');
                            $('.photoViewUser').addClass('d-none');
                            $('.uploadPhoto').removeClass('d-none');
                        },
                        Xeyr: function () {
                            
                        }
                        
                    }
                });
            });
            //FILE (LOGO) UPLOAD
            $('.custom-file-input').on("change", function () {
                $('.photoView').removeClass("d-none");
                readURL(this);
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#uploadedPhoto').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            //PHONE MASK
            $("#phone").mask("(999) 999-9999");

            $("#phone").on("blur", function () {
                var last = $(this).val().substr($(this).val().indexOf("-") + 1);

                if (last.length == 5) {
                    var move = $(this).val().substr($(this).val().indexOf("-") + 1, 1);

                    var lastfour = last.substr(1, 4);

                    var first = $(this).val().substr(0, 9);

                    $(this).val(first + move + '-' + lastfour);
                }
            });

            //FORM VALIDATION
            $.validate({
                modules: 'file',
            });
            $('#about').restrictLength($('#max-length-element'));

        });
    </script>
}