@model AccountIndexViewModel
@{
    ViewData["Title"] = "Tənzimləmələr";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<!-- login-signup section -->
<section id="login-signup" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#tabs_1">Tənzimləmələr</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active" id="tabs_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-controller="Account" asp-action="Settings" method="post" enctype="multipart/form-data" id="SettingForm">

                                            <div class="form-group">
                                                <div class="left-side">
                                                    @if (ViewBag.User.UserTypeID > 1)
                                                    {
                                                        <label for="name">Ad</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="name">Şirkətin adı</label>
                                                    }
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="name" asp-for="Setting.Name" value="@ViewBag.User.Name"
                                                           data-validation="required, length"
                                                           data-validation-error-msg-required="Ad daxil edin!!!"
                                                           data-validation-length="3-50"
                                                           data-validation-error-msg-length="Minimum 3, Maksimum 50 hərf daxil etməlisiniz!!!" />
                                                    <span class="text-danger" asp-validation-for="Setting.Name"></span>
                                                </div>
                                            </div>
                                            @if (ViewBag.User.UserTypeID > 1)
                                            {
                                                <div class="form-group">
                                                    <div class="left-side">
                                                        <label for="surname">Soyad</label>
                                                    </div>
                                                    <div class="right-side">
                                                        <input type="text" id="surname" asp-for="Setting.Surname" value="@ViewBag.User.Surname"
                                                               data-validation="required, length"
                                                               data-validation-error-msg-required="Ad daxil edin!!!"
                                                               data-validation-length="3-50"
                                                               data-validation-error-msg-length="Minimum 3, Maksimum 50 hərf daxil etməlisiniz!!!" />
                                                        <span class="text-danger" asp-validation-for="Setting.Surname"></span>
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label>E-Poçt</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" placeholder="@ViewBag.User.Email" disabled />
                                                    <span class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="phone">Telefon</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="phone" placeholder="(___) ___ - ____" asp-for="Setting.PhoneNumber" value="@ViewBag.User.PhoneNumber"
                                                           data-validation="required, length"
                                                           data-validation-error-msg-required="Telefon nömrəsi daxil edin!"
                                                           data-validation-length="14-14"
                                                           data-validation-error-msg-length="Telefon nömrəsni düzgün daxil edin!!!" />
                                                    <span class="text-danger" asp-validation-for="Setting.PhoneNumber"></span>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="left-side">
                                                    @if (ViewBag.User.UserTypeID > 1)
                                                    {
                                                        <label for="photo">Profil şəkli</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="photo">Logo</label>
                                                    }

                                                </div>
                                                <div class="right-side">
                                                    @if (ViewBag.User.Logo != null)
                                                    {
                                                        <div id="addPhoto" class="d-none">
                                                            <label for="upload-photo"><i class="fas fa-camera"></i>FOTO YÜKLƏ</label>
                                                            <input type="file" asp-for="Setting.Photo" id="upload-photo" accept="image/*" class="custom-file-input" value="@ViewBag.User.Logo" />
                                                            <label class="custom-file-label"></label>
                                                            <span asp-validation-for="Setting.Photo" class="text-danger"></span>
                                                        </div>
                                                        <div class="image">
                                                            <div class="imageContainer">
                                                                <img id="uploadedPhoto" src="~/img/users/@ViewBag.User.Logo" alt="">
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="addPhoto">
                                                            <label for="upload-photo"><i class="fas fa-camera"></i>FOTO YÜKLƏ</label>
                                                            <input type="file" asp-for="Setting.Photo" id="upload-photo" accept="image/*" class="custom-file-input" value="@ViewBag.User.Logo"
                                                                   data-validation="required"
                                                                   data-validation-error-msg-required="Foto daxil edin!!!" />
                                                            <label class="custom-file-label"></label>
                                                            <span asp-validation-for="Setting.Photo" class="text-danger"></span>
                                                        </div>
                                                    }

                                                </div>

                                            </div>



                                            @if (ViewBag.User.UserTypeID == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="left-side">
                                                        <label for="adress">Ünvan</label>
                                                    </div>
                                                    <div class="right-side">
                                                        <input type="text" id="adress" asp-for="Setting.Adress" value="@ViewBag.User.Adress"
                                                               data-validation="required"
                                                               data-validation-error-msg-required="Ünvanı daxil edin!" />
                                                        <span class="text-danger" asp-validation-for="Setting.Adress"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="left-side">
                                                        <label for="about">Haqqında</label>
                                                    </div>
                                                    <div class="right-side">
                                                        <span id="max-length-element">500</span> xarakter qalmaqdadır
                                                        <textarea id="about" asp-for="Setting.AboutCompany" rows="5"
                                                                  data-validation="required, length"
                                                                  data-validation-length="50-500"
                                                                  data-validation-error-msg-required="Şirkətiniz haqqında qısa məlumat daxil edin!"
                                                                  data-validation-error-msg-length="Minimum 50 xarakter olmalıdır!">@ViewBag.User.AboutCompany</textarea>
                                                        <span class="text-danger" asp-validation-for="Setting.AboutCompany"></span>
                                                    </div>
                                                </div>


                                            }

                                            <div class="right-side">
                                                <button type="submit" id="submit">Qeydiyyatı tamamla</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of login-sgnup section -->
@section ConfirmCss{
    <link rel="stylesheet" href="~/css/notiflix/notiflix-2.1.3.min.css">
}
@section ConfirmJs{
    <script src="~/script/notiflix/notiflix-2.1.3.min.js"></script>
}
@section FormValidator{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
}

@section PhoneMask{
    <script src="~/script/phone-mask/jquery.browser.min.js"></script>
    <script>
        //PHONE MASK
        $("#phone").mask("(999) 999-9999");

        $("#phone").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length == 5) {
                var move = $(this).val().substr($(this).val().indexOf("-") + 1, 1);

                var lastfour = last.substr(1, 4);

                var first = $(this).val().substr(0, 9);

                $(this).val(first + move + '-' + lastfour);
            }
        });
    </script>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            //FORM VALIDATION
        $.validate({
            modules: 'file, security',
            addSuggestions: true,
            decimalSeparator: ','
        });
        $('#about').restrictLength($('#max-length-element'));
        });
        
    </script>
 }
