@model APHomeIndexViewModel
@{
    ViewData["Title"] = "Sayta aid tənzimləmələr";
}

<!-- Begin Page Content -->
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Sayta aid Tənzimləmələr</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a class="btn btn-success float-right" asp-controller="Home" asp-action="Editsettings" asp-area="Admin"><h6 class="m-0 font-weight-bold text-white"><i class="fas fa-pencil-alt mr-2"></i>Yenilə</h6></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ünvan</th>
                        <th>Telefon</th>
                        <th>Mobil</th>
                        <th>E-poçt</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Model.setting.LocalAddress</td>
                        <td>@Model.setting.PhoneNumber</td>
                        <td>@Model.setting.MobileNumber</td>
                        <td>@Model.setting.Email</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Facebook</th>
                        <th>Twitter</th>
                        <th>Linkedin</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Model.setting.FacebookAddress</td>
                        <td>@Model.setting.TwitterAdress</td>
                        <td>@Model.setting.LinkedinAddress</td>
                </tbody>
            </table>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Əsas Logo</th>
                        @if (Model.setting.FooterLogo != null)
                        {
                            <th>Əlavə Logo</th>
                        }

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img src="~/img/logo/@Model.setting.MainLogo" alt="Əsas_logo" style="max-height:100px; max-width: 100%"/></td>
                        @if (Model.setting.FooterLogo != null)
                        {
                            <td><img src="~/img/logo/@Model.setting.FooterLogo" alt="Əlavə_logo" style="max-height:100px; max-width: 100%"/></td>
                        }
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Haqqında</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Html.Raw(Model.setting.About)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

@section TableCss{
    <!-- Custom styles for this page -->
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

