@model BreadcumbViewModel

<!-- intro-section -->
<section id="another-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>@Model.Title</h1>
                </div>
                <div class="breadcumb-text mt-20">
                    <ol>
                        @foreach (var item in Model.Path)
                        {
                            if (item.Action != null)
                            {
                                <li><a asp-action="@item.Action" asp-controller="@item.Controller">@item.Name</a></li>
                            }
                            else
                            {
                                <li><span>@item.Name</span></li>
                            }
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of intro-section -->
