@model HomeIndexViewModel
@{
    ViewData["Title"] = "Ana səhifə";
}

<!-- intro section -->
<section id="home-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Ən Mükəmməl <br> Evi Tap</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contain-stack mt-40">
                    <div class="tab-content">
                        <div class="tab-panel active" id="tabs_1">
                            <div class="row">
                                <form asp-controller="Add" asp-action="Search" enctype="multipart/form-data" method="get">
                                    <div class="col-md-3">
                                        <div class="search-select">
                                            <select id="addSort" asp-for="SearchGet.AddTypeId" name="SearchGet.AddTypeId">
                                                <option value="" selected>Elanın növü</option>

                                                @foreach (AddType item in Model.SearchPanel.AddTypes)
                                                {
                                                    <option value="@item.AddTypeId">@item.Name</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="search-select">
                                            <select name="SearchGet.CityId" id="city" asp-for="SearchGet.CityId">
                                                <option value="" selected>Şəhər</option>
                                                @foreach (City item in Model.SearchPanel.Cities)
                                                {
                                                    <option value="@item.CityId">@item.CityName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="search-select">
                                            <select id="propSort" asp-for="SearchGet.PropertySortId" name="SearchGet.PropertySortId">
                                                <option value="" id="default">Əmlakın növü</option>
                                                @foreach (PropertySort item in Model.SearchPanel.PropertySorts)
                                                {
                                                    <option value="@item.PropertySortId">@item.PropertySortName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-md-offset-1">
                                        <div class="search-button">
                                            <button type="submit" class="search">Axtar</button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of intro section -->
<!-- property-advertisiments section -->
<section id="recent-properties" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Son əlavə edilən daşınmaz əmlaklar</h1>
                    <a asp-controller="add" asp-action="index">Hamısına bax</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contain-stack mt-40">
                <div class="row">
                    @*Adds Panel*@
                    <partial name="_AddsPanel" model="ViewBag.Adds" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of property-advertisiments section -->
<!-- our home-partners section -->
<section id="home-partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Agentliklər</h1>
                </div>
                <div class="contain-stack mt-40">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel partners-logo">
                                @foreach (User item in Model.Agencies)
                                {
                                    <div class="item"> <a asp-controller="Agency" asp-action="detail" asp-route-id="@item.UserId"><img src="~/img/users/@item.Logo" alt="@item.Name"></a>  </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- end of our partners section -->

@section owlCss{
    <link rel="stylesheet" href="~/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl-carousel/owl.theme.default.css">
}
@section NotificationCss{
    <link rel="stylesheet" href="~/css/toaster/toastr.min.css">
}
@section preloaderScript{
    <script type="text/javascript">
        $(window).on('load', function () {
            $('.spinner').delay(1500).fadeOut("slow", function () {
                $(this).css('z-index', '0');
                $('.preloader').addClass('complete').css("z-index", "0");
            });
        });
    </script>
}

@section preloader{
    <!-- preloader -->
    <div class="preloader">
        <div class="spinner">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- end of preloader -->
}
@section NotificationJs{
    <script src="~/script/toaster/toastr.min.js"></script>
}
@section owlScript{
    <script src="~/script/owl-carousel/owl.carousel.js"></script>
}
@section Scripts{

    <script>
        $(document).ready(function () {

             @if(TempData["Success"] != null)
                {
                     @:toastr.success("@TempData["Success"]");
                };
        });
    </script>
}